/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

div.well {
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 2px -1px rgb(214, 214, 214);
    -moz-box-shadow: 2px 2px 2px -1px rgb(214, 214, 214);
    box-shadow: 2px 2px 2px -1px rgb(214, 214, 214);

}

.content {
    background-color: #eee;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

footer.footer {
    background:none repeat scroll 0 0 #f9f9f9;
    background-image: linear-gradient(white, #F2F2F2);
    box-shadow: rgba(0, 0, 0, 0.0627451) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0627451) 0 1px 4px;
    border: 1px solid #d4d4d4;
    padding: 18px 0 36px;
    z-index: 3;
    bottom: 0;
    left: 0;
    width:100%;
    height:20px;
    position: fixed;
}

table thead tr {
    text-align: center;
}
table tr td.td_group {
    width: 15%;
    text-align: center;
}

table tr td.td_group ul li {
    text-align: left;
}

.dropdown-menu > li > label {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;

}
