<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 well">
      <h3 class="col-sm-offset-4"><%= t('LBL012') %></h3>

      <%= render 'form' %>

      <%= link_to t('LBL009'), paginas_path(I18n.locale) %>
    </div>
  </div>
</div>
